<!DOCTYPE html>
<style>
  .teampic {
    width: 120%;
    overflow: hidden;
  }
  .logopic {
    height:100px;
    
  }
</style>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <title>About Us page</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/templatemo-chain-app-dev.css">
  <link rel="stylesheet" href="/css/animated.css">
  <link rel="stylesheet" href="/css/owl.css">

</head>



<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/home" class="logo">
              <img src="/Pic/mylogo.png" alt="Microusity" class="logopic">
            </a>


            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/home">Home</a></li>
              <li class="scroll-to-section"><a href="/content">Content</a></li>
              <li class="scroll-to-section"><a href="/quiz">Quiz</a></li>
              <li class="scroll-to-section"><a href="/testingtool">Sandbox</a></li>
              <li class="scroll-to-section"><a href="/testingtool2">Testing tool</a></li>
              <li class="scroll-to-section"><a href="/history">History</a></li>
              <li class="scroll-to-section"><a href="/aboutus" class="active">About us</a></li>
              <li>
                <!-- <div class="gradient-button"><a id="modal_trigger" href="/logout">Log Out</a></div> -->
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <br>
  <br>
  <div id="contactus" class="contactus">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4> Creator Team of <em>Microusity</em> &amp; Who We Are</h4>
            <!-- <img src="assets/images/heading-line-dec.png" alt=""> -->
            <p> คณะเทคโนโลยีสารสนเทศและการสื่อสาร มหาวิทยลัยมหิดล ได้เล็งเห็นถึงความสำคัญของการเรียนรู้ Life long
              learning society คณะผู้จัดทำจึงได้คิดค้นวิธีการให้ความรู้ผ่านการเรียนรู้แบบ Problem-based Learning และ
              Active Learning ที่จะช่วยพัฒนาความรู้และทักษะที่สำคัญในสำหรับการเรียนรู้สำหรับ นักเรียน นักศึกษา และ
              ผู้สนใจ ในศตวรรษที่ 21 เกี่ยวกับความปลอดภัยของ API ผ่าน Web Application </p>
          </div>
          <div class="section-heading">
            <h4> <em>Microusity</em> Members</h4>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4 style="color:#069">จันสิดา มกรานนท์</h4>
              <h5 style="color:#069">Chansida Makaranond</h5>

              <p> นักศึษา คณะ เทคโนโลยีสารสนเทศ ( ICT ) หลักสูตร นานาชาติ มหาวิทยาลัย มหิดล Major : Software Engineering
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4 style="color:#069">ภัทรกฤต รัตตานุกูล </h4>
              <h5 style="color:#069">Pattarakrit Rattanukul</h5>

              <p> นักศึษา คณะ เทคโนโลยีสารสนเทศ ( ICT ) หลักสูตร นานาชาติ มหาวิทยาลัย มหิดล Major : Software Engineering
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4 style="color:#069">ภูมิภัทร วัฒนกุลจรัส </h4>
              <h5 style="color:#069"> Pumipat Watanakulcharus </h5>

              <p> นักศึษา คณะ เทคโนโลยีสารสนเทศ ( ICT ) หลักสูตร นานาชาติ มหาวิทยาลัย มหิดล Major : Software Engineering
              </p>


            </div>
          </div>

        </div>
        <div class="col-lg-6">
          <br><br><br><br><br><br>
          <img src="../Pic/team2.png" class="teampic" alt="">
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>


  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/animation.js"></script>
  <script src="js/imagesloaded.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/custom.js"></script>
</body>
<footer id="newsletter">
  <div class="container">
    <div class="row">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Contact Us</h4>
          <p>Mahidol University <br> 999 Phuttamonthon 4 Road,<br> Salaya,
            Nakhon Pathom <br> 73170 Thailand</p>
          <p><a href="#">+66 (0) 2849-6000</a></p>
          <p><a href="#">info@microusity.co</a></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>About Us</h4>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/content">Content</a></li>
            <li><a href="/testingtool">Testing Tool</a></li>
            <li><a href="/aboutus">About us</a></li>
          </ul>
          
        </div>
      </div>
     
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>About Our Company</h4>
          <div class="logo">
            <img src="/Pic/mylogo.png" alt="">
          </div>
          <p> <em>Microusity</em> is an platform that offers informative insight and educational contents related in the detection of API security issues. As well as, An application that performs API security testing on BFF systems.


          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Copyright © 2022 Chain App Dev Company. All Rights Reserved. 
        <br>Design: <a href="https://templatemo.com/" target="_blank" title="css templates">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Scripts -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/owl-carousel.js"></script>
<script src="js/animation.js"></script>
<script src="js/imagesloaded.js"></script>
<script src="js/popup.js"></script>
<script src="js/custom.js"></script>


</footer>
</html>