<!DOCTYPE html>
<html>
<!-- <style>
    
        background-image: url('/Pic/certificate.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style> -->
<!-- <STYLE type="text/css">
    body {
    background-image: url('/Pic/certificate.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%; /* (img-height / img-width * width) */
                /* (853 / 1280 * 100) */
    }
</style> -->

<head>
    <title>Online Test (Sample)</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script type="text/javascript" src="/js/pdf.js"></script>
</head>

<body>

    <div id='certificate'>
        <img src="/Pic/certificate.png">
        <label>Name:</label>
        <input type="text" id="name" placeholder="name" />

        <div style="text-align:center;">
            <!--Convert the data to PDF.-->
            <input type="button" value="Get certificate" id="btPrint" onclick="onlineTestApp.printPage();" />
        </div>
    </div>
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
        Your browser does not support the HTML canvas tag.
    </canvas>

</body>





</html>