<!DOCTYPE html>
<html>

    <head>
        <title>Online Test (Sample)</title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js">
        </script>

        <style>
            * {
                color: #17293c;
                box-sizing: border-box;
            }

            h1,
            h2 {
                margin: 0 auto;
                padding: 0;
                text-align: center;
                color: #17293c;
                font-size: 18px;
            }

            input[type=button] {
                font-size: 15px;
                display: block;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                cursor: pointer;
            }

            ::placeholder {
                color: #999;
                text-transform: lowercase;
            }

            ul {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                width: 97%;
            }

            ul>li {
                margin-left: 2%;
            }

            ul>li>input[type=text] {
                width: 99%;
            }

            #container ul>li {
                width: 94%;
                color: #000;
                font-size: 18px;
            }

            #container_data_entry {
                border: solid 1px #ccc;
                border-radius: 4px;
                margin: 5px 5px 5px 0;
                padding: 10px 5px;
                background-color: #f5f5f5;
                overflow: auto;
                height: 100%;
            }

            #student_details {
                padding: 10px 0;
                background-color: #f5f5f5;
                color: #3d3d3d;
                border: solid 1px #ccc;
                border-radius: 4px;
                margin: 5px 0 5px 5px;
                width: 25%;
                float: right;
            }

            input[type=text],
            textarea {
                font-size: 16px;
                font-weight: 500;
                text-align: left;
                width: auto;
                padding: 9px;
                border: none;
                border-bottom: 1px solid #ccc;
                margin: 5px 0;
            }

            textarea {
                height: 3em;
                width: 100%;
            }

            
            .revdivshowimg {
                display: block;
                width: 300px;
                top: 20%;
                text-align: center;
                margin: 0 auto;
                padding: 0;
                position: relative;
                background-color: #fff;
                webkit-box-shadow: 6px 0 10px rgba(0, 0, 0, .2), -6px 0 10px rgba(0, 0, 0, .2);
                -moz-box-shadow: 6px 0 10px rgba(0, 0, 0, .2), -6px 0 10px rgba(0, 0, 0, .2);
                box-shadow: 6px 0 10px rgba(0, 0, 0, .2), -6px 0 10px rgba(0, 0, 0, .2);
                overflow: hidden;
            }
        </style>
    </head>

    <body>
    
        <label>Name:</label>
        <input type="text" id="name" placeholder="name" />

            <div style="text-align:center;">
                <!--Convert the data to PDF.-->
                <input type="button" value="Get certificate" id="btPrint" onclick="onlineTestApp.printPage();" />
            </div>
        </div>
    </body>
   
    
   
   <script>
     
        let onlineTestApp = new function () {

            this.printPage = function () {

                //Add some style to the print. 
                // ref: https://www.encodedna.com/javascript/print-html-table-with-image-using-javascript.htm 
                let style = "<style>";
                style = style + "h2 {text-align:center; font:22px Times New Roman; font-weight:bold;}";
                style = style + ".subject {text-align:center;}";
                style = style + ".Navigation ul {display:table; width:100%;}";
                style = style + ".Navigation li {display:table-cell; text-align:center; border:0px solid #ccc; padding:3px;}";
                style = style + ".Navigation li#Left {text-align:left;}";
                style = style + ".Navigation li#Right {text-align:right;}";
                style = style + ".Navigation li#Middle {padding:0 20px;}";
                style = style + "ul {font:12px Calibri; display:inline-block; list-style:none; margin:0; padding:20px 0;}";
                style = style + ".answers {font:12px Calibri; padding:5px 0;}";
                style = style + "</style>";

                // Add date and time (to avoid any any ambiguity concerning submission of paper).
                // ref: https://www.encodedna.com/2012/11/javascript-digital-clock.htm 
                let oDt = new Date();

                // Get full date.
                let sDate = oDt.getDate() + '/' + (oDt.getMonth() + 1) + '/' + oDt.getFullYear();

                // Get full time.
                let hrs = oDt.getHours();
                let min = oDt.getMinutes();
                let sec = oDt.getSeconds();

                let sTime = hrs + ':' + min + ':' + sec;
                
                
                //let space = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                let header = '<h2>Microusity</h2>' +
                    '<div class="subject">' + document.getElementById("name").value + '</div>'
                ;
                let theBody = '';

              

                theBody = header + theBody;

                // Create window object and print the data.
                let newWin = window.open('', '', 'height=350,width=700');

                newWin.document.write(style);
                newWin.document.write(theBody);
                newWin.print();
                newWin.close();
            }
        }
    </script>

</html>