<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>Register</title>
</head>

<body>


    <div class="container">
        <br>
        <a href="/home" class="logo">
            <center>
                <img src="/Pic/mylogo.png" alt="Microusity">
            </center>
        </a>
        <hr>


        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">

                        <h4 class="card-title mt-2">Sign up</h4>
                    </header>
                    <% if (Uinvalid){ %>
                        <div class="alert alert-danger" role="alert">
                            Invalid username
                        </div>
                        <script>
                            window.history.pushState({}, "", window.location.pathname)
                        </script>
                        <% } %>
                    <article class="card-body">
                        <form action="/register" method="post">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>First name </label>
                                    <input type="text" class="form-control" id="input-fname" name="fname" placeholder="First name">
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" id="input-lname" name="lname" placeholder="Last name">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" id="input-email" name="email" placeholder="Email">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">
                                <label>Create password</label>
                                <input class="form-control" id="input-password" name="password" placeholder="Password" type="password">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Register </button>
                            </div> <!-- form-group// -->
                            <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our
                                <br>
                                Terms of use and Privacy Policy.</small>
                        </form>
                    </article> <!-- card-body end .// -->
                    <div class="border-top card-body text-center">Have an account? <a href="/login">Log In</a></div>
                </div> <!-- card.// -->
            </div> <!-- col.//-->

        </div> <!-- row.//-->


    </div>
    <!--container end.//-->

</body>