<!DOCTYPE html>
<html>


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the thesis project">
    <meta name="author" content="Chansida Makaranond">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Testing tool</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--TemplateMo 570 Chain App Dev https://templatemo.com/tm-570-chain-app-dev-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/css/animated.css">
    <link rel="stylesheet" href="/css/owl.css">

</head>

<body>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <div class="container">

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="/home" class="logo">
                                <img src="/Pic/mylogo.png" alt="Microusity" class="logopic">
                            </a>


                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="/home">Home</a></li>
                                <li class="scroll-to-section"><a href="/content">Content</a></li>
                                <li class="scroll-to-section"><a href="/quiz">Quiz</a></li>
                                <li class="scroll-to-section"><a href="/testingtool" class="active">Testing tool</a>
                                </li>
                                <li class="scroll-to-section"><a href="/aboutus">About us</a></li>
                                <li>
                                    <div class="gradient-button"><a id="modal_trigger" href="/logout"> Log Out</a></div>
                                </li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <br><br><br><br><br><br><br>

        <div class="row">
            <div class="alert alert-info" role="alert">
                Show Swagger UI, <a href="http://localhost:8060/webjars/swagger-ui/index.html?configUrl=%2Fv3%2Fapi-docs%2Fswagger-config&urls.primaryName=organization" class="alert-link" target="_blank" rel="noopener noreferrer" ><u>Click here</u> </a>
            </div>
            <div class="col">
                <h2>Dictionary Config</h2>

                <textarea id="dict" name="dict-input" rows="20" cols="70">
                    {
                        "restler_fuzzable_string": [
                          "0612345678",
                          "testtest@mail.com"
                        ],
                        "restler_fuzzable_string_unquoted": [],
                        "restler_fuzzable_datetime": [
                          "2019-06-26T20:20:39+00:00"
                        ],
                        "restler_fuzzable_datetime_unquoted": [],
                        "restler_fuzzable_uuid4": [
                          "566048da-ed19-4cd3-8e0a-b7e0e1ec4d72"
                        ],
                        "restler_fuzzable_uuid4_unquoted": [],
                        "restler_fuzzable_int": [
                          "0",
                          "1",
                          "2262",
                          "123=AS",
                          "123=2262"
                        ],
                        "restler_fuzzable_number": [
                          "1.23"
                        ],
                        "restler_fuzzable_bool": [
                          "true"
                        ],
                        "restler_fuzzable_object": [
                          "{ \"fuzz\": false }"
                        ],
                        "restler_custom_payload": {},
                        "restler_custom_payload_unquoted": {},
                        "restler_custom_payload_uuid4_suffix": {}
                      }
                </textarea>

            </div>

            <div class="col">
                <h2>Invalid dynamic object Config</h2>

                <textarea id="dyn" name="dyn-input" rows="20" cols="70">
                    {
                        "checkers": {
                            "invaliddynamicobject": {
                                "invalid_objects": [
                                    "1",
                                    "someinvalidobject",
                                    "valid-object/$*",
                                    "valid-object=valid-object",
                                    "valid-object=?valid-object",
                                    "valid-object?valid-object",
                                    "valid-object,valid-object",
                                    "5"
                                ]
                            }
                        }
                    }
                </textarea>

            </div>
        </div>
        <div class="row">


            <button id="btn-dictSubmit" alt="Dict Submit" class="btn btn-secondary pull-right">Submit</button>
            <div>
                <p id="status"></p>
            </div>
            <script>

                //to map the script with the html with id
                let btnDictSubmit = $('#btn-dictSubmit')
                let inputDict = $('#dict')
                let inputDyn = $('#dyn')

                let resultList = $('#result-list')

                //function that tigger when clicking the submit button
                btnDictSubmit.on('click', function () {
                    let dict = inputDict.val()
                    let dyn = inputDyn.val()
                    submit(dict, dyn)
                    launch();
                })

                function submit(dict, dyn) {

                    console.log(dict)
                    var parseDict = JSON.parse(dict);
                    console.log(parseDict)
                    $.ajax
                        ({
                            type: "GET",
                            dataType: 'json',
                            async: false,
                            url: 'http://localhost:8080/saveDict_json',
                            data: { data: JSON.stringify(parseDict) },
                            success: function () { alert("Success"); },
                            failure: function () { alert("Error"); }
                        });

                    console.log(dyn)
                    var parseDyn = JSON.parse(dyn);
                    console.log(parseDyn)
                    $.ajax
                        ({
                            type: "GET",
                            dataType: 'json',
                            async: false,
                            url: 'http://localhost:8080/saveDyn_json',
                            data: { data: JSON.stringify(parseDyn) },
                            success: function () { alert("Success"); },
                            failure: function () { alert("Error"); }
                        });
                }
                function launch() {
                    btnDictSubmit.prop("disabled", true);
                    let ref = document.getElementById('status');
                    ref.style.display = 'none';
                    fetch(
                        "/launch",
                        {
                            method: 'POST',
                        }
                    ).then(res => {
                        if (!res.ok) {
                            ref.innerText = "Can't start the test";
                            ref.style.display = 'flex';
                        }
                        else {
                            poll();
                        }
                    })
                }
                function poll() {
                    setTimeout(() => {
                            window.location.href = '/result';
                            }, 14000);
                }
            </script>

        </div>
</body>

</html>