<!DOCTYPE html>
<html>

<body>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <h2>HTML Forms</h2>

    <span id="span">Search: <input type="text" id="keyword"></span>
    <div style="text-align:center;"><button id="btn-search" alt="Search">Search</button></div>


    <script>

        //to map the script with the html with id
        let btnSearch = $('#btn-search')
        let inputKeyword = $('#keyword')
        let resultList = $('#result-list')

        //function that tigger when clicking the search button
        btnSearch.on('click', function () {
            let keyword = $('#keyword').val()
            //search(keyword)
            submit(keyword)
        })

        function submit(keyword) {
            let params = {
                query: {
                    match: {
                        review: {
                            query: keyword,
                            operator: 'or'
                        }
                    }
                }
            }
            console.log(params)
            $.ajax
                ({
                    type: "GET",
                    dataType: 'json',
                    async: false,
                    url: 'http://localhost:8080/save_json',
                    data: { data: JSON.stringify(params) },
                    success: function () { alert("Thanks!"); },
                    failure: function () { alert("Error!"); }
                });

        }

        //search function
        function search(keyword) {
            resultList.html(`
        <li>loading...</li>
    `)

            //parameter
            let params = {
                query: {
                    match: {
                        review: {
                            query: keyword,
                            operator: 'or'
                        }
                    }
                }
            }
            $.ajax({
                url: 'http://localhost:9200/drug/_search',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(params),
                processData: false,
                type: "POST",
                success: function (data) {
                    //clear result
                    resultList.html('')

                    //for loop for create and append the result
                    let items = data.hits.hits
                    for (let item of items) {
                        let drugname = item._source.drugName
                        let review = item._source.review
                        let condition = item._source.condition
                        let date = item._source.date
                        let rating = item._source.rating
                        let score = item._score
                        resultList.append(`
                    
                    <li class="list-group-item"  style="background-color: lavender;">
                        <h3>Name: ${drugname}</h3>
                        <i><b>Date:</b> ${date} <b>Rating:</b> ${rating}</i><br>
                        <b>Condition:</b> ${condition}<br>
                        <b>Review:</b> ${review}<br>
                        <i><b>Score: ${score}</b></i><br>
                    </li>
                `)

                    }
                }

            })

        }

    </script>


</body>

</html>